/*
COLOR PALETTE
url
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#AIC6d7 - blue light
*/

/* Global Styles
------------------------ */
body{
    color: #343434;
}
img {
    width: 300px;
}
a{
    color: #ffe66d;
}
a:hover{
    text-decoration: none;
}

/* Profile
------------------------ */
header{
    background-color: #2f3061;
    color: #f7fff7;
}

/* Projects
------------------------ */
.projects{
    background-color: #f7fff7;
}
.projects a{
    color: #2f3061;
}
.projects .btn{
    color: #f7fff7;
    background-color: #2f3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover{
    background-color: rgba(47,78,97,80);
}


/* Education
------------------------ */
.work-experience{
    background-color: #a1c6d7;
}


/* Contact Info
------------------------ */
footer{
    background-color: #343434;
    color: #f7fff7;
}