/*
COLOR PALETTE
url
834d63 - plum
e2d9ae - tan
210124 - dark purple
162b03 - dark green
fff4d5 - pale pink
*/

/* Global Styles
------------------------ */
body{
    color: #162b03;
}
img {
    width: 300px;
}
a{
    color: #e2d9ae;
}
a:hover{
    text-decoration: none;
}

/* Profile
------------------------ */
header{
    background-color: #e2d9ae;
}

/* Projects
------------------------ */
.projects{
    background-color: #834d63;
    color: #ffffff;
}
.projects a{
    color: #fff4d5;
}
.projects .btn{
    color: #162b03;
    background-color: #fff4d5;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover{
    background-color: #ff0b6d83 ;
    color: #fff4d5;
}

/* Work experience
------------------------ */
.work-experience{
    background-color: #fff4d5;
}


/* Education
------------------------ */



/* Contact Info
------------------------ */
footer{
    background-color: #162b03;
    color: #fff4d5;
}
